<div class="pull-right">
  <%= link_to("Add a wife", new_wife_path, :class => "btn btn-default" ) %>
</div>
<table class="table table-boldered">
  <% @wives.each do |wife| %>
    <tr>
      <td>
        <%= link_to(wife.title, wife_path(wife)) %>
      </td>
      <td>
        <%= link_to("Edit", edit_wife_path(wife)) %> |
        <%= link_to("Destroy", wife_path(wife), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      </td>
      <td>
        <%= wife.created_at %>
      </td>
    </tr>
  <% end %>
</table>
