<div class="text-center">
  <%= link_to("投交履历", new_husband_jianli_path(@husband), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
<td>
  <% if @husband.image.present? %>
    <%= image_tag(@husband.image.thumb.url, class: "thumbnail") %>
  <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
  <% end %>
</td>
<h1><%= @husband.title%></h1>
<p><%= simple_format(@husband.description)%></p>
