<h1> Edit a husband </h1>
<%= simple_form_for [:admin, @husband ] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :salary, :label => "薪水" %>
  <%= f.input :age, :label => "年龄" %>
  <%= f.input :city, :label => "城市"%>
  <%= f.input :contact_email %>
  <%= f.input :is_hidden %>
  <%= f.submit "Submit" %>
<% end %>
